[submodule "extern/cesium-native"]
	path = extern/cesium-native
	url = https://github.com/calebbuffa/cesium-native.git
[submodule "extern/libzip"]
	path = extern/libzip
	url = https://github.com/nih-at/libzip.git